@layer components {
	.button {
		@apply px-[1em] py-[0.5em] rounded-full;
	}

	@property --primary-gradient-start {
		syntax: "<color>";
		initial-value: theme("colors.pink.700");
		inherits: false;
	}

	@property --primary-gradient-end {
		syntax: "<color>";
		initial-value: theme("colors.purple.800");
		inherits: false;
	}

	.button--primary {
		@apply button;
		@apply transition-all font-semibold text-white;
		@apply hocus:text-white;
		@apply active:text-white;

		background: linear-gradient(135deg, var(--primary-gradient-start), var(--primary-gradient-end));
		transition: --primary-gradient-start 150ms, --primary-gradient-end 150ms;

		&:hover, &:focus {
			--primary-gradient-start: theme("colors.pink.800");
			--primary-gradient-end: theme("colors.purple.900");
		}

		&:active {
			--primary-gradient-start: theme("colors.pink.900");
			--primary-gradient-end: theme("colors.purple.950");
		}
	}

	.button--muted {
		@apply button;
		@apply bg-white ring-1 ring-inset ring-grey-200;
		@apply hocus:bg-grey-50 hocus:ring-grey-300;
		@apply active:bg-grey-100 active:ring-grey-400;
	}
}
