.link {
	color: var(--primary-text);

	&:is(:hover, :focus) {
		color: var(--primary-900);
	}

	&:where(.dark, .dark *) {
		&:is(:hover, :focus) {
			color: var(--primary-200);
		}
	}
}

.link--muted {
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-underline-offset: 4px;

	color: var(--color-grey-500);

	&:is(:hover, :focus) {
		text-decoration: none;
		color: var(--color-grey-700);
	}

	&:where(.dark, .dark *) {
		color: rgb(255 255 255 / 60%);

		&:is(:hover, :focus) {
			color: rgb(255 255 255 / 90%);
		}
	}
}

.button {
	border-radius: var(--radius-md);
	padding-block: 0.5em;
	padding-inline: 1em;
}

.button--primary,
.button--secondary,
.button--muted,
.button--toggle,
.button--ghost,
.button--danger {
	border-radius: calc(infinity * 1px);
	padding-block: 0.5em;
	padding-inline: 1em;

	&:has([data-part="label"].sr-only) svg {
		min-block-size: 1lh;
	}
}

.button--primary {
	--gradient-start: var(--primary-gradient-start);
	--gradient-end: var(--primary-gradient-end);
	--outline-colour: var(--primary-gradient-start);

	background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
	color: white;
	font-weight: 500;
	outline: 0;

	transition:
		box-shadow 150ms,
		--gradient-start 150ms,
		--gradient-end 150ms;

	&:is(:hover, :focus) {
		--gradient-start: var(--color-pink-600);
		--gradient-end: var(--color-pink-600);

		box-shadow:
			0 0 5px rgba(230 25 128 / 5%),
			0 0 25px rgba(230 25 128 / 10%),
			0 0 50px rgba(230 25 128 / 15%);
	}

	&:focus-visible {
		outline: 2px solid var(--outline-colour);
		outline-offset: 2px;
	}

	&:active {
		--gradient-start: var(--color-pink-900);
		--gradient-end: var(--color-purple-950);
	}

	&:where(.dark, .dark *) {
		&:is(:hover, :focus) {
			box-shadow:
				0 0 5px rgba(230 25 128 / 20%),
				0 0 25px rgba(230 25 128 / 40%),
				0 0 50px rgba(230 25 128 / 60%);
		}
	}
}

.button--secondary {
	background-color: --alpha(var(--color-grey-950) / 50%);
	color: white;

	&:is(:hover, :focus) {
		background-color: --alpha(var(--color-grey-950) / 40%);
	}

	&:focus-visible {
		outline: 2px solid --alpha(var(--color-grey-950) / 50%);
		outline-offset: 2px;
	}

	&:active {
		background-color: --alpha(var(--color-grey-950) / 30%);
	}
}

.button--muted {
	--background-colour: white;
	--colour: currentColor;
	--border-colour: var(--color-grey-300);

	background-color: var(--background-colour);
	border: 1px solid var(--border-colour);
	color: var(--colour);

	&:is(:hover, :focus) {
		--background-colour: var(--color-grey-50);
		--colour: var(--color-grey-700);
		--border-colour: var(--color-grey-400);
	}

	&:active {
		--background-colour: var(--color-grey-100);
		--colour: var(--color-grey-800);
		--border-colour: var(--color-grey-500);
	}

	&:where(.dark, .dark *) {
		--background-colour: rgb(255 255 255 / 20%);
		--border-colour: rgb(255 255 255 / 20%);

		&:is(:hover, :focus) {
			--background-colour: rgb(255 255 255 / 30%);
			--colour: var(--color-grey-100);
		}

		&:active {
			--background-colour: rgb(255 255 255 / 40%);
			--colour: var(--color-grey-50);
			--border-colour: transparent;
		}
	}
}

.button--toggle {
	border: 1px solid var(--border-colour);

	&:not([aria-pressed="true"]) {
		--background-colour: white;
		--colour: currentColor;
		--border-colour: var(--color-grey-300);

		background-color: var(--background-colour);
		color: var(--colour);

		&:is(:hover, :focus) {
			--background-colour: var(--color-grey-50);
			--colour: var(--color-grey-700);
			--border-colour: var(--color-grey-400);
		}

		&:active {
			--background-colour: var(--color-grey-100);
			--colour: var(--color-grey-800);
			--border-colour: var(--color-grey-500);
		}
	}

	&[aria-pressed="true"] {
		--background-colour: var(--primary-50);
		--colour: var(--primary-600);
		--border-colour: var(--primary-400);

		background-color: var(--background-colour);
		color: var(--colour);

		&:is(:hover, :focus) {
			--background-colour: var(--primary-100);
			--colour: var(--primary-700);
			--border-colour: var(--primary-500);
		}

		&:active {
			--background-colour: var(--primary-200);
			--colour: var(--primary-800);
			--border-colour: var(--primary-600);
		}
	}

	&:where(.dark, .dark *) {
		&:not([aria-pressed="true"]) {
			--background-colour: rgb(255 255 255 / 20%);
			--border-colour: rgb(255 255 255 / 20%);

			&:is(:hover, :focus) {
				--background-colour: rgb(255 255 255 / 30%);
				--colour: var(--color-grey-100);
			}

			&:active {
				--background-colour: rgb(255 255 255 / 40%);
				--colour: var(--color-grey-50);
				--border-colour: transparent;
			}
		}

		&[aria-pressed="true"] {
			--background-colour: rgb(from var(--primary-400) r g b / 10%);
			--colour: var(--primary-300);
			--border-colour: var(--primary-400);

			&:is(:hover, :focus) {
				--background-colour: rgb(from var(--primary-400) r g b / 20%);
				--colour: var(--primary-200);
			}

			&:active {
				--background-colour: rgb(from var(--primary-400) r g b / 30%);
				--colour: var(--primary-100);
			}
		}
	}
}

.button--ghost {
	--background-colour: transparent;

	background-color: var(--background-colour);
	color: currentColor;

	&:is(:hover, :focus) {
		--background-colour: var(--color-grey-100);
		--colour: var(--color-grey-700);
	}

	&:active {
		--background-colour: var(--color-grey-200);
		--colour: var(--color-grey-800);
	}

	&:where(.dark, .dark *) {
		&:is(:hover, :focus) {
			--background-colour: rgb(0 0 0 / 30%);
			--colour: var(--color-grey-100);
		}

		&:active {
			--background-colour: rgb(0 0 0 / 40%);
			--colour: var(--color-grey-50);
		}
	}
}

.button--danger {
	--background-colour: var(--danger-fill);
	--outline-colour: var(--danger-fill);

	background-color: var(--background-colour);
	color: white;
	font-weight: 500;
	outline: 0;

	&:is(:hover, :focus) {
		--background-colour: var(--danger-800);
	}

	&:focus-visible {
		outline: 2px solid var(--outline-colour);
		outline-offset: 4px;
	}

	&:active {
		--background-colour: var(--danger-900);
	}
}

.button--disabled {
	background-color: var(--surface-sunken);
	color: var(--content-muted);
	cursor: not-allowed;
	font-weight: normal;
}
