@import "tailwindcss";
@import "@lewishowles/components/styles.css";

@import "./theme.css";
@import "./font.css";
@import "./buttons.css";
@import "./form.css";
@import "./animation.css";
@import "./components.css";
@import "./layout.css";

@plugin "@tailwindcss/container-queries";
@plugin "tailwindcss-hocus";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	svg {
		height: 1em;
		width: 1em;
	}

	a,
	button,
	summary,
	[contenteditable],
	[tabindex] {
		outline: 0;
		transition-duration: var(--default-transition-duration);
		transition-property: all;
		transition-timing-function: var(--default-transition-timing-function);

		&:focus-visible {
			outline: 0;
			box-shadow: 0 0 0 2px var(--primary-fill);
			box-shadow:
				0 0 0 2px var(--primary-fill),
				0 0 0 4px --alpha(var(--primary-fill) / 10%);
		}
	}

	a,
	summary {
		color: var(--primary-text);
		text-decoration: underline;
		text-decoration-skip-ink: auto;
		text-underline-offset: 4px;

		&:hover,
		&:focus {
			color: var(--primary-900);
			text-decoration: none;
		}

		&:where(.dark, .dark *) {
			&:hover,
			&:focus {
				color: var(--primary-200);
			}
		}
	}

	button {
		text-align: inherit;
	}

	img {
		max-width: 100%;
	}

	summary::marker {
		content: "";
	}

	summary::-webkit-details-marker {
		display: none;
	}
}
