@import url("font.css");
@import url("buttons.css");
@import url("animation.css");
@import url("components.css");
@import url("form.css");
@import url("layout.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	svg {
		height: 1em;
		width: 1em;
	}

	a, button, [contenteditable] {
		@apply transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-purple-600 focus-visible:ring-offset-2 dark:focus-visible:ring-purple-400 dark:focus-visible:ring-offset-0;
	}

	a {
		@apply text-purple-800 underline underline-offset-4;
		@apply hocus:text-purple-900 hocus:no-underline;
		@apply dark:text-purple-300;
		@apply dark:hocus:text-purple-200;
	}

	img {
		max-width: 100%;
	}

	summary::marker {
		content: "";
	}

	summary::-webkit-details-marker {
		display: none;
	}
}
